<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="practice.mapper.BoardMapper">

	<select id="getList" resultType="practice.domain.BoardVO">
		<![CDATA[
			select 
				bno,title,content,writer,regdate,updatedate
			from(
				select /*+ index_desc(tbl_board pk_board) */
					rownum rn,bno,title,content,writer,regdate,updatedate
				from
				]]>
				<choose>
					<when test="orderNum==null">
						tbl_board
					</when>
					<when test="orderNum!=null">
					(
						select /*+ index_desc(tbl_board pk_board) */
                			rownum rn,bno,title,content,writer,regdate,updatedate
            			from 
                			tbl_board
                			<if test="search!=''">
								 where
            						(bno like '%'||#{search}||'%' or 
            						 title like '%'||#{search}||'%' or 
            						 bno like '%'||#{search}||'%' or 
            						 content like '%'||#{search}||'%')
							</if>
	          				<choose>
								<when test="orderNum!=null">
									<choose>
										<when test="orderNum=='0'.toString()">
											order by bno
										</when>
										<when test="orderNum=='1'.toString()">
											order by title
										</when>
										<when test="orderNum=='2'.toString()">
											order by writer
										</when>
										<when test="orderNum=='3'.toString()">
											order by regdate
										</when>
										<when test="orderNum=='4'.toString()">
											order by updatedate
										</when>
									</choose>
									
									<choose>
										<when test="orderDir=='asc'">
											asc
										</when>
										<when test="orderDir='desc'">
											desc
										</when>
									</choose>
								</when>
							</choose>
						)
					</when>
				</choose>
				<![CDATA[
				where rownum<= #{start} + #{length}
			)
			where rn> #{start}
		]]>
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			SELECT SEQ_BOARD.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TBL_BOARD(BNO,TITLE,CONTENT,WRITER)
		VALUES(#{bno},#{title},#{content},#{writer})
	</insert>

	<select id="read" resultType="practice.domain.BoardVO">
		SELECT * FROM TBL_BOARD WHERE BNO=#{bno}
	</select>
	
	<delete id="delete">
		DELETE TBL_BOARD WHERE BNO=#{bno}
	</delete>
	
	<update id="update">
		UPDATE
			TBL_BOARD
		SET
			TITLE=#{title},
			CONTENT=#{content},
			WRITER=#{writer},
			UPDATEDATE=sysdate
		WHERE
			BNO=#{bno}
	</update>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) 
		FROM TBL_BOARD
		WHERE BNO>0
	</select>
	
</mapper>